html,
body {
    font-size: 16px;

}

body {
    font-family: 'Josefin Sans', 'Hevetica Neue', Helvetica, Arial, sans-serif;
}

button {
    font-family: 'Varela Round', 'Josefin Sans', sans-serif;
    border-radius: 6px;
    border: 1px solid;

    border-color: #000;
    background: #333;
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: #fff;
        color: #333;
        cursor: pointer;
    }
}
