header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include paddingX(20px);

	.info {
		h1 {
			margin-bottom: 0;
		}

		h4 {
			margin: 5px 0px;
			font-style: italic;
		}

		.small {
			margin: 0 0 10px;
			font-size: 0.85rem;
		}
	}
}
