header {
	display: flex;
	align-items: center;
	justify-content: center;
	@include paddingX(20px);

	@media screen and (min-width: 500px) {
		justify-content: space-between;
	}

	.info {
		h1 {
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 1.5rem;
			text-align: center;

			@media screen and (min-width: 500px) {
				text-align: left;
				margin-bottom: 0;
			}

			@media screen and (min-width: 768px) {
				margin-top: 20px;
				font-size: 2.0rem;
			}
		}

		h4 {
			margin: 5px 0px;
			font-style: italic;
			display: none;

			@media screen and (min-width: 500px) {
				display: block;
			}
		}

		.small {
			margin: 0 0 10px;
			font-size: 0.85rem;
			display: none;

			@media screen and (min-width: 500px) {
				display: block;
			}
		}
	}

	.btn {
		display: none;

		@media screen and (min-width: 500px) {
			display: block;
		}
	}
}
