.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;

	.board-outer {
		display: none;
		align-items: center;
		justify-content: center;
		width: 550px;
		height: 550px;
		border: 1px solid brown;
		background: chocolate;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		.board-inner {
			display: flex;
			flex-direction: column;
			width: 450px;
			height: 450px;
			padding: 10px;
			border: 1px solid brown;
			background: #444;

			.top-row,
			.middle-row,
			.bottom-row {
				display: flex;
				flex-direction: row;
				flex-grow: 1;

				.left,
				.center,
				.right {
					flex-grow: 1;
					position: relative;

					&:hover {
						cursor: pointer;
					}

					.token {
						position: absolute;
						padding: 0;
						margin: 0;
						font-family: 'Varela Round', 'Josefin Sans', sans-serif;
						font-size: 9.0rem;
						font-weight: 700;
						text-transform: uppercase;
						color: $whiteText;

						&.cross {
							top: -1px;
							left: 24px;
						}

						&.nought {
							top: -3px;
							left: 16px;
						}
					}
				}

				.left,
				.center {
					border-right: 5px solid blue;
				}
			}

			.top-row,
			.middle-row {
				border-bottom: 5px solid blue;
			}
		}
	}

	.choose-token {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;

		border: 3px solid #333;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		h2,
		h4 {
			margin: 0;
		}

		.token-container {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-around;

			width: 75%;
			margin-top: 20px;

			button {
				padding: 0;
				font-size: 1.5rem;
				width: 40px;
				height: 40px;
			}
		}
	}
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(#999, 0.5);
	z-index: 100;
}

.end-game {
	display: none;
	position: absolute;
	z-index: 101;
	background: #fff;

	text-align: center;
	border: 3px solid #333;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	button {
		padding: 5px 10px;
	}
}