header {
	h4 {
		font-style: italic;
	}
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;

	.board-outer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 600px;
		height: 600px;
		border: 1px solid brown;
		background: chocolate;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		.board-inner {
			width: 500px;
			height: 500px;
		}
	}
}
